<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
				<key>dateExpires</key>
				<string>2021/8/16</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BSGridCollectionViewLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BSImagePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BSImageView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NIMAVChat.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NIMSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NMC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NMCBasicModuleFramework.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OasisSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SCSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SCSDKCreativeKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SCSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>audioplayers.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>contacts_service.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_des.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_image.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_qr_reader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_sound.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>image_gallery_saver.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>multi_image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ota_update.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27C8008D48EC8EBB9E99B53E8642D305055B230F</string>
						<key>dateExpires</key>
						<string>2021/8/16</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>88WDL2K3TD</string>
						<key>name</key>
						<string>Centaline Group Management Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>88WDL2K3TD.com.centanet.newprop.panketong</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:jnelq.share2dlink.com</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>88WDL2K3TD</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0b230343-e606-49bc-9288-e3a3c6238215</string>
				<key>name</key>
				<string>A+_Release_2019_12_25</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>88WDL2K3TD</string>
				<key>name</key>
				<string>Centaline Group Management Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
